.splash-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: orange;
}


.splash-header {
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 100%;
    align-items: center;
    background-color: red;
}

.external-links-div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.internal-links-div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}